body {
  background-position: center bottom;
}
.container {
  width: 980px;
  margin: 100px auto 0;
  border-radius: 5px;
  background: #fff;
  padding-bottom: 40px;
  box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.1);
}
.register-form {
  margin: 0 auto;
}
.header .logo a{
  color: #458ee3;
  font-size: 42px;
  margin-right: 36px;
}
.register-form .title {
  text-align: center;
  font-size: 24px;
  line-height: 80px;
  margin-bottom: 37px;
  position: relative;
}
.register-form .title::after {
  content: '';
  display: block;
  width: 55px;
  height: 6px;
  background: #4289db;
  position: absolute;
  border-radius: 50px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.register-form .reg-input {
  display: flex;
  justify-content: center;
  margin: 0 auto 18px;
}
.register-form .reg-input .input-tit {
  width: 100px;
  text-align: right;
  margin-right: 15px;
  line-height: 40px;
}
.register-form .reg-input .input-cnt {
  width: 300px;
}
.register-form .forget-pwd {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
}
.register-form .sign-in {
  width: 400px;
  margin: 25px auto;
  text-align: center;
}
