<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/detail.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.7.2/lib/theme-chalk/index.css">
    <style>
        .header-right{
            float:right;
            color: #fff;
            font-size: 24px;
        }
        .header-right a{
            color: #fff;
        }
        .header .logo{
        	float: left;
        }
        .header .header-container{
        	display: block;
            justify-content: flex-end;
            background: transparent;
        }
        .container-title{
            font-size: 30px;
            color: #333;
        }
        .sec-title{
            color: rgb(129,129,129);
        }
        .title-part{
            text-align: center;
            margin-top: 60px;
        }
        a:hover{
            color: #458ee3;
        }
        .h3-title{
            font-size: 24px;
            margin-left: 30px;
            padding-top: 30px;
        }
        .h3-sec-tit{
            margin-left: 30px;
        }

        .header{
            background: rgba(0,0,0,.5);
            /* position: absolute;
            top: 0;
            left: 0;
            right: 0; */
        }
        .index-header{
            background: transparent;
        }
        .part2-tit{
            position: relative;
        }
        .tit-text{
            position: absolute;
            top: 0;
            left: 30px;
            line-height: 92px;
            color: #fff;
            font-size: 28px;
        }
        .search_h3{font-size: 20px; color: #00C5C7; text-align: center;}
		.flow{
			float: left;
		    padding: 10px;
		    overflow-y: scroll;
		    height: 420px;
		}
    </style>
</head>

<body>
    <div id="app">
        <header class="header">
            <div class="w1200 header-container index-header">
                <div class="logo"><a href="./index.html">Stockast</a></div>
                <!-- <div class="sec-header">Welcome to register</div> -->
                <div class="header-right">
                    <a class="" href="person.html">
                        User
                    </a>
                </div>
            </div>
        </header>
        <div class="pro-info w1200">
			<div class="item">
				<div class="pro-info-item">Marked summary</div>
				<div class="pro-info-item">{{Company.name}}</div>
				<div class="pro-info-item gray">{{Company.exchange}}：{{Company.symbol}}</div>
				<div class="follow" @click="follow()" v-if="!followed">＋ follow</div>
				<div class="follow" @click="unfollow()"  v-if="followed"> followed</div>
			</div>
        </div>
        <div class="part2 w1200">
            <div class="part2-tit">
                <div class="tit-text">Stock information</div>
                <img src="img/title-bg.png" alt="">
                <div>
                    <div style="float: left; width:640px;" class="flow">
                    	<h3 class="search_h3" @click="showCont">History Search</h3>
                        <table class="gridtable">
                            <tr>
                                <th>historical</th>
                                <th>date</th>
                                <th>symbol</th>
                                <th>day_close</th>
                                <th>day_high</th>
                                <th>day_low</th>
                                <th>day_open</th>
                                <th>day_volume</th>
                            </tr>
                            <tr v-for="(item,index) in searchwholeList" v-if="index<10">
                                <td>{{index}}</td>
                                <td>{{item.date}}</td>
                                <td>{{item.symbol}}</td>
                                <td>{{item.day_close}}</td>
                                <td>{{item.day_high}}</td>
                                <td>{{item.day_low}}</td>
                                <td>{{item.day_open}}</td>
                                <td>{{item.day_volume}}</td>
                            </tr>
                        </table>  
                    </div>
                    <div style="float: right; width:520px;" class="flow">
                    	<h3 class="search_h3" @click="showCont1">Realtime Search</h3>
                        <table class="gridtable">
                            <tr>
                                <th>timedata</th>
                                <th>price</th>
                                <th>symbol</th>
                                <th>timestamp</th>
                            </tr>
                            <tr v-for="(item,index) in searchwholeList1" v-if="index<10">
                                <td>{{index}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.symbol}}</td>
                                <td>{{item.timestamp}}</td>
                            </tr>
                        </table> 
                    </div>
                    <div style="clear:both; float: none;"></div>
                    <div>
						<div class="pro-info-item">Highest Stock Price in the last ten days:{{moreinfo.k1}}</div>
						<div class="pro-info-item">Average stock price in the latest one year:{{moreinfo.k2}}</div>
						<div class="pro-info-item">Lowest stock price in the latest one year:{{moreinfo.k3}}</div>
						<div class="pro-info-item">Companies who have the average stock price lesser than the lowest of this company in the latest one year:{{moreinfo.k4}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="position"  v-if="show">
            <h3 class="search_h3" style="background: #fff;" @click="showCont">History Search（close）</h3>
            <table class="gridtable">
                <tr>
                    <th>date</th>
                    <th>symbol</th>
                    <th>day_close</th>
                    <th>day_high</th>
                    <th>day_low</th>
                    <th>day_open</th>
                    <th>day_volume</th>
                </tr>
                <tr v-for="(item,index) in searchwholeList" v-if="index<50">
                    <td>{{item.date}}</td>
                    <td>{{item.symbol}}</td>
                    <td>{{item.day_close}}</td>
                    <td>{{item.day_high}}</td>
                    <td>{{item.day_low}}</td>
                    <td>{{item.day_open}}</td>
                    <td>{{item.day_volume}}</td>
                </tr>
            </table> 
        </div>
        <div class="position"  v-if="show1" style="width: 391px;">
            <h3 class="search_h3" style="background: #fff;" @click="showCont1">Realtime Search（close）</h3>
            <table class="gridtable">
                <tr>
                    <th>timedata</th>
                    <th>price</th>
                    <th>symbol</th>
                    <th>timestamp</th>
                </tr>
                <tr v-for="(item,index) in searchwholeList1" v-if="index<50">
                    <td>{{index}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.symbol}}</td>
                    <td>{{item.timestamp}}</td>
                </tr>
            </table>
        </div>
        <div class="part2 w1200">
            <div class="part2-tit">
                <div class="tit-text">Performance Indicators</div>
                <img src="img/title-bg.png" alt="">
                <div>
					<div class="pro-info-item">Standard Deviation:{{Predictions_com.stddev}}</div>
					<div class="pro-info-item">Relative Strength Index:{{Predictions_com.rsi}}</div>
					<div class="pro-info-item">Williams %R:{{Predictions_com.willr}}</div>
					<div class="pro-info-item">Weighted Moving Average:{{Predictions_com.wma}}</div>
					<div class="pro-info-item">Volume Weighted Moving Average:{{Predictions_com.vwma}}</div>
                </div>
            </div>
        </div>
        <div class="part2 w1200">
            <div class="part2-tit">
                <div class="tit-text">Prediction</div>
                <img src="img/title-bg.png" alt="">
                    <div style="float: left; width:580px;" class="flow">
                    	<h3 class="search_h3">Short-term</h3>
						<div class="pro-info-item">last_price:{{Predictions_short.last_price}}</div>
						<div class="pro-info-item">predicted_mean_price:{{Predictions_short.predicted_mean_price}}</div>
						<div class="pro-info-item">predicted_price_range:{{Predictions_short.predicted_price_range}}</div>
						<div class="pro-info-item">predicted_variance:{{Predictions_short.predicted_variance}}</div>
						<div class="pro-info-item">prediction:{{Predictions_short.prediction}}</div>
                    </div>
                    <div style="float: right; width:580px;" class="flow">
                    	<h3 class="search_h3">Long-term</h3>
						<div class="pro-info-item">engine:{{Predictions_long.engine}}</div>
						<div class="pro-info-item">last_price:{{Predictions_long.last_price}}</div>
						<div class="pro-info-item">predicted_price:{{Predictions_long.predicted_price}}</div>
						<div class="pro-info-item">predicted_price_range:{{Predictions_long.predicted_price_range}}</div>
						<div class="pro-info-item">prediction_range:{{Predictions_long.prediction_range}}</div>
						<div class="pro-info-item">prediction:{{Predictions_long.prediction}}</div>
                    </div>
                    <div style="clear:both; float: none;"></div>
            </div>
        </div>
    </div>
    <!-- 先引入 Vue -->
  <script src="js/common.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/axios.min.js"></script>
  <!-- 引入组件库 -->
  <script src="js/ele.js"></script>
  <script>
    new Vue({
        el: '#app',
        data: function() {
        return { 
            visible: false,
            loading:false,
            show:false,
            show1:false,
            searchCompanyList:[],
            input5:'',
			symbol:'',
            Company:{},
			Predictions_short:{},
			Predictions_long:{},
            searchwholeList:[],
            searchwholeList1:[],
            followed:false,
            Predictions_com:[],
            moreinfo:[]
            }
        },
        methods:{
        showCont(){
            this.show = !this.show
        },
        showCont1(){
            this.show1 = !this.show1
        },
        toDetail(val){
            if(val){
                location.href = `detail.html?symbol=${val}`;
            }
        },
        //  getCompany
        getCompany(){
            Companies.CompanyList('get', {}, this.symbol).then( res => {
              console.log('getCompany:',res);
              if(res.status == 200){
                this.Company = res.data.data;
              }
            })
            .catch( err=> {
              console.log('getCompany err:',err);
            });
        },
		//  getPredictions
        getPredictions(){
            Predictions.Predictions_short({
				step:'H',
				days:'5',
				cost:'200',
			}, this.input5 || this.symbol).then( res => {
              if(res.status == 200){
                this.Predictions_short = res.data.data;
              }
            })
            .catch( err=> {
              console.log('getPredictions err:',err);
            });
            Predictions.Predictions_long({
				engine:'svm',
				days:'10',
				cost:'200'
			}, this.input5 || this.symbol).then( res => {
              if(res.status == 200){
                this.Predictions_long = res.data.data;
              }
            })
            .catch( err=> {
              console.log('getPredictions err:',err);
            });
            Predictions.Predictions_com({
				days:'5'
			}, this.input5 || this.symbol).then( res => {
              if(res.status == 200){
                this.Predictions_com = res.data.data;
              }
            })
            .catch( err=> {
              console.log('getPredictions err:',err);
            });
        },
		//	follow
		follow(){
			let id = localStorage.getItem('id') || 1;
			User.Follows('post',{
				symbol:this.symbol,
			},id).then( res => {
              if(res.status == 200){
              	this.followed = true;
              }
              this.followed = true;
            })
            .catch( err=> {
            });
		},
		//	follow
		unfollow(){
			let id = localStorage.getItem('id') || 1;
			User.Follows('delete',{
				symbol:this.symbol,
			},id).then( res => {
              console.log('StocksRealtimeSearch:',res);
              if(res.status == 200){
              	this.followed = false;
              }
              this.followed = false;
            })
            .catch( err=> {
            });
		},
		//	url params
		getQueryString(name) { 
			let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
			let r = window.location.search.substr(1).match(reg); 
			if (r != null) return unescape(r[2]); 
			return ''; 
		},
        //  stockinformation
        stockinformation(){
            let currentDate = new Date();
            let agoDate = new Date(currentDate - 1000 * 60 * 60 * 24 * 35);
            let agoDate10 = new Date(currentDate - 1000 * 60 * 60 * 24 * 10);
            let agoDate365 = new Date(currentDate - 1000 * 60 * 60 * 24 * 365);
            stockinformation.StocksHistorySearch({
                symbol:this.symbol,
                date__gte:agoDate,
                date__lte:currentDate
            }).then( res => {
              console.log('getCompany:',res);
              if(res.status == 200){
                this.searchwholeList = res.data.data;
                console.log(res.data.data)
              }
            })
            .catch( err=> {
            });
            stockinformation.StocksRealtimeSearch({
                symbol:this.symbol,
                timestamp__gte:agoDate,
                timestamp__lte:currentDate
            }).then( res => {
              console.log('getCompany:',res);
              if(res.status == 200){
                this.searchwholeList1 = res.data.data;
              }
            })
            .catch( err=> {
            });
            ///////////////////
            stockinformation.StocksHistorySearch({
                symbol:this.symbol,
                date__gte:agoDate10,
                __sort:'-day_close',
                __limit:'1'
            }).then( res => {
              if(res.status == 200){
                this.moreinfo.k1 = res.data.data[0].day_close;
              }
            })
            .catch( err=> {
            });
            ///////////////////
            stockinformation.StocksHistorySearch({
                symbol:this.symbol,
                date__gte:agoDate365
            }).then( res => {
              if(res.status == 200){
                tmpdata = res.data.data;
                tmptotal = 0;
                for(var i=0; i<tmpdata.length; i++){
                	tmptotal += (tmpdata[i].day_high+tmpdata[i].day_low)/2;
                }
                this.moreinfo.k2 = tmptotal/tmpdata.length;
              }
            })
            .catch( err=> {
            });
            ///////////////////
            stockinformation.StocksHistorySearch({
                symbol:this.symbol,
                date__gte:agoDate365,
                __sort:'day_close',
                __limit:1
            }).then( res => {
              if(res.status == 200){
              	let kkkkk = '';
                this.moreinfo.k3 = res.data.data[0].day_low;
              	let base_coms = '{"AABA":"69.42797188755017","AAPL":"191.20889558232932","ADBE":"251.4170281124498","AMZN":"1733.8529116465875","NVDA":"209.41632530120467","TSLA":"307.95805220883545","FB":"167.89036144578301","MSFT":"107.95184738955822","GOOG":"1134.4689558232926","JPM":"108.25297188755016"}';
              	var showarr = new Array();
              	var base_arr = JSON.parse(base_coms);
              	for(var tmpkey in base_arr){
                	if(base_arr[tmpkey]<this.moreinfo.k3){
                		kkkkk += tmpkey+'; '
                	}
				}
              	this.moreinfo.k4 = kkkkk;
              }
            })
            .catch( err=> {
            });
            ///////////////////
            
        },
      },
      mounted(){
		this.symbol = this.getQueryString('symbol');
        this.getCompany();
		this.getPredictions();
        this.stockinformation();
      }
    })
	function in_array(search,array){
	    for(var i in array){
	        if(array[i]==search){
	            return true;
	        }
	    }
	    return false;
	}
  </script>
</body>
</html>